In [1]:
# ORM - Objektovo relačné mapovanie

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
import pandas as pd

In [3]:
# base for table classes
Base = declarative_base()

C:\Users\LOLSCROL\AppData\Local\Temp\ipykernel_6752\1698572912.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
# sample class mapping table from database
class mesta(Base):
    __tablename__ = 'mesta'
    # fields and their types
    id = Column(Integer, primary_key=True)
    nazov = Column(String)
    populacia = Column(Integer)
    zaplavy = Column(Integer)


    def __init__(self, nazov, populacia, zaplavy):
        self.nazov = nazov
        self.populacia = populacia
        self.zaplavy = zaplavy

In [5]:
engine = create_engine('mysql+pymysql://root:M0ncouer@localhost/nase_db')

Session = sessionmaker(bind=engine)
session = Session()

In [6]:
mesto = mesta('Brno', 70000, 0)
session.add(mesto)

In [6]:
session.commit()

2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-24 20:00:51,437 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-24 20:00:51,447 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 20:00:51,450 INFO sqlalchemy.engine.Engine INSERT INTO mesta (nazov, populacia, zaplavy) VALUES (%(nazov)s, %(populacia)s, %(zaplavy)s)
2024-09-24 20:00:51,451 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {'nazov': 'Brno', 'populacia': 70000, 'zaplavy': 0}
2024-09-24 20:00:51,477 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
# načtení dat pomocí orm
with engine.connect() as con:
    query = f"SELECT * FROM mesta;"
    data = con.execute(text(query))

In [41]:
# Načítanie údajov pomocou execute
with engine.connect() as con:
    query = "SELECT * FROM mesta;"
    result = con.execute(text(query))
    
    # Preveď výsledky na zoznam slovníkov pomocou mappings()
    data = [dict(row) for row in result.mappings()]

In [42]:
# Kontrola, či sú výsledky
if not rows:
    print("Dotaz nevrátil žiadne výsledky.")
else:
    # Vytvorenie DataFrame z výsledkov
    tabulka = pd.DataFrame(data)

In [43]:
tabulka

   id    nazov  populacia  Zaplavy
0   1     Test     100000        0
1   2     Test     100000        0
2   3  Olomouc     500000        0
3   4    Praha     120000        0
4   5     Brno      70000        0