In [1]:
import mysql.connector
import pandas as pd

In [77]:
#Napojenie mojej databázy
db = mysql.connector.connect(
  host="localhost", #Server
  user="root", #užívatel
  password="M0ncouer",
  database="nase_db") #výber databázy

#coursor - objekt, cez ktorý robím sql príkazy pomocou execute
mycursor = db.cursor()

In [ ]:
#Samostatný príkaz bez funkcie na pridanie do tabuľky SQL
#mycursor = db.cursor()
#mycursor.execute("INSERT INTO mesta (nazov, populacia, zaplavy) VALUES ('Olomouc', 500000, 0);")
#db.commit()

In [ ]:
#Uzivate zadá data
nazov = input("Zadaj mesto: ")
populacia = input("Zadaj populáciu: ")
zaplavy = input("Zadaj záplavu: ")

In [78]:
#Funckia pre query na zapísanie dát do tabulky - doladiť vo workbench SQL
def pridej_mesto (db, mycursor, nazov, populacia, zaplavy):
    sql = f"INSERT INTO mesta (nazov, populacia, zaplavy) VALUES ('{nazov}', {populacia}, {zaplavy});"
    try:
        mycursor.execute(sql)
        db.commit()
        return True 
    except:
        return False

In [57]:
#Execute funckie na zápis dát
pridej_mesto(db,mycursor, nazov, populacia, zaplavy)

True

In [79]:
def zobraz_mesta(mycursor):
    sql1 = f"select * from mesta;"
    mycursor.execute(sql1)
    return mycursor.fetchall()

In [83]:
sql2 = "DESCRIBE mesta;"
mycursor.execute(sql2)
info_stlpce = mycursor.fetchall()
#extrakcia pomocou list comprehension
nazvy_stlpcov = [col[0]for col in info_stlpce]

In [80]:
vysledok = zobraz_mesta(mycursor)

In [84]:
pd.DataFrame.from_records(vysledok, columns=nazvy_stlpcov)

     id    nazov  populacia  Zaplavy
0  None     Test     100000        0
1  None     Test     100000        0
2  None  Olomouc     500000        0
3  None    Praha     120000        0

In [2]:
#Napojenie mojej databázy
db = mysql.connector.connect(
  host="localhost", #Server
  user="root", #užívatel
  password="M0ncouer",
  database="car_rent") #výber databázy

#coursor - objekt, cez ktorý robím sql príkazy pomocou execute
mycursor = db.cursor()

In [3]:
sql_prikaz = """select cars.producer, cars.model, cars.horse_power, avg(cars.price_per_day) as "Average_day_price"
FROM bookings
INNER JOIN cars ON
bookings.car_id=cars.car_id
group by cars.car_id
having horse_power<135 and Average_day_price > 150;"""

In [6]:
pd.read_sql(sql_prikaz,db)

C:\Users\LOLSCROL\AppData\Local\Temp\ipykernel_13368\888535849.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(sql_prikaz,db)

  producer  model  horse_power  Average_day_price
0     Fiat  Panda           77              190.0
1    Honda  Civic          130              360.0